<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.dogearn">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:allowBackup="false"
      android:hardwareAccelerated="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <service android:name=".config.BackgroundGetDataUser"/>
    <service android:name=".config.BackgroundServiceBalance"/>


    <activity
        android:name=".view.menu.bot.manual.BotManualActivity"
        android:theme="@style/AppTheme.NoActionBar"/>

    <activity
        android:name=".view.menu.HistoryOutActivity"
        android:label="DOGEARN Outgo">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.HistoryInActivity"
        android:label="DOGEARN Ingoing">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.EditPhoneActivity"
        android:label="Edit Phone Number">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.HistoryGradeActivity"
        android:configChanges="orientation|screenSize"
        android:label="History LOT">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.HistoryDogeActivity"
        android:configChanges="orientation|screenSize"
        android:label="History Doge">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.HistoryPinActivity"
        android:configChanges="orientation|screenSize"
        android:label="History Pin">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.NetworkActivity"
        android:label="Network"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>
    <activity
        android:name=".view.ForgotActivity"
        android:label="Forgot Password"
        android:screenOrientation="portrait">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>
    <activity
        android:name=".view.menu.SendPinActivity"
        android:configChanges="orientation|screenSize"
        android:label="Send Pin">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>
    <activity
        android:name=".view.menu.ReceivedActivity"
        android:configChanges="orientation|screenSize"
        android:label="Deposit DOGE">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>
    <activity
        android:name=".view.menu.SendBalanceActivity"
        android:configChanges="orientation|screenSize"
        android:label="Send DOGE">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>
    <activity
        android:name=".view.menu.EditSecondaryPasswordActivity"
        android:configChanges="orientation|screenSize"
        android:label="@string/edit_password_transaction">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.EditPasswordActivity"
        android:configChanges="orientation|screenSize"
        android:label="Edit Password">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.RegisterActivity"
        android:configChanges="orientation|screenSize"
        android:label="Register Account">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.menu.UpgradeAccountActivity"
        android:configChanges="orientation|screenSize"
        android:label="Upgrade LOT">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".view.NavigationActivity"/>
    </activity>
    <activity
        android:name=".view.NavigationActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".view.RegisterFnActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".view.LoginActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".MainActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>

        <action android:name="android.intent.action.VIEW"/>
      </intent-filter>
    </activity>
  </application>

</manifest>